<div class="header-box">
  <div>
    <a routerLink="/signup">
      Signup
    </a>
  </div>
  <div>
    <a routerLink="/set-environment">
      Set Environment
    </a>
  </div>
  <div>
    <a routerLink="/home">
      Home
    </a>
  </div>
  <div>
    <a routerLink="/overview">
      Overview
    </a>
  </div>
  <div>
    <a routerLink="/login">
      Login
    </a>
  </div>
  <div>
    <a routerLink="/login-domain">
      Login Domain
    </a>
  </div>
  <div>
    <a routerLink="/customization">
      Customization
    </a>
  </div>
  
  <!--<p>
    
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
  </p>-->
</div>