<p *ngIf="headerType === 'LOGGED'">

  <mat-toolbar style="justify-content: space-between;">
    
    <div style="border: 1px dashed blue;
    padding: 2px;
    font-size: 15px;
    border-radius: 10px;" (click)="goToCustomize()">
      {{ 'home.customization' | translate }}
    </div>

    <div>
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">

        <mat-chip selected color="primary" (click)="openPreview()" style="color: white">
          {{ 'home.preview' | translate }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>


    <div style="display: flex; align-items: center;">
      <mat-icon>language</mat-icon>
      <select (change)="changeLang($event)">
        <option value="fr">fr</option>
        <option value="en">en</option>
      </select>
    </div>

    <button mat-flat-button>Manage Account</button>
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>circle_notifications</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" (click)="isOpen = !isOpen"
      aria-label="Example icon-button with share icon" >
      <mat-icon style="transform: scale(2);">account_circle</mat-icon>
    </button>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOpen]="isOpen">
      <ul class="example-list">
        <li>{{ 'home.profile_parameter' | translate }}</li>
        <li (click)="goToCustomize()">{{ 'home.customization' | translate }}</li>
        <li (click)="logout()">{{ 'home.logout' | translate }}</li>
      </ul>
    </ng-template>

  </mat-toolbar>
</p>
<p *ngIf="headerType === 'HOME'" class="edacy-box">

  <mat-toolbar style="justify-content: space-between;">
    <div class="edacy">EDACY</div>

  </mat-toolbar>
</p>
<p *ngIf="headerType === 'PREVIEW'">

  <mat-toolbar style="justify-content: space-between;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <div>
      <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">

        <mat-chip selected color="primary" (click)="exitPreview()">
          {{ 'home.exit_preview' | translate }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>


    <div style="display: flex; align-items: center;">
      <mat-icon>language</mat-icon>
      <select (change)="changeLang($event)">
        <option value="fr">fr</option>
        <option value="en">en</option>
      </select>
    </div>

    <button mat-flat-button>Manage Account</button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>circle_notifications</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon style="transform: scale(2);">account_circle</mat-icon>
    </button>

  </mat-toolbar>
</p>