<div class="container alternate-theme">
  <div  style="width: 520px">
    <div>
      <h2 style="text-align: center;">
        Welcome Temitope
      </h2>
      <h5 style="text-align: center;">
        Lets hep you setup your environment
      </h5>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      

      <div>
        <mat-form-field appearance="outline">
          <mat-label></mat-label>
          <input matInput placeholder="Placeholder">
          <div matSuffix>.edacy.com</div>
        </mat-form-field>
      </div>


      <div>
        <p>Default Language</p>
        
        <div class="radio-button-box" style="border: 1px;">

          <mat-radio-group aria-label="Select an option" appearance="outline">
            <mat-radio-button value="1">Arabic</mat-radio-button>
            <mat-radio-button value="2">English</mat-radio-button>
            <mat-radio-button value="2">French</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
  
      
  
     
  
      
  
      
  
     
    </div>
    <div style="text-align: center;">
      <button mat-flat-button color="primary">continue to your dashboard</button>
    </div>
  </div>
</div>