<div class="container alternate-theme">
  <div>
    <div class="section header">
      <h1 class="header-title">
        Welcome Temitope
      </h1>
      <h5 class="header-subtitle">
        Lets hep you setup your environment
      </h5>
    </div>
    <form [formGroup]="environmentForm">
      <div class="section domain-input">

        <div class="domain-box">
          <p>Set your domain</p>
          <mat-form-field appearance="fill" class="suffixed-input domain-field">

            <input matInput placeholder="" formControlName="domain">
            <div matSuffix>.edacy.com</div>
            <mat-error *ngIf="environmentForm.controls['domain'].hasError('exist')">
              Already Taken
            </mat-error>
            <mat-error *ngIf="environmentForm.controls['domain'].hasError('required')">
              Must put something
            </mat-error>
          </mat-form-field>
        </div>

        <div class="language-box">
          <p>Default Language</p>

          <div class="radio-button-box">

            <mat-radio-group class="languages" aria-label="Select an option" appearance="outline" formControlName="defaultLanguage">
              <mat-radio-button value="Ar">Arabic</mat-radio-button>
              <mat-radio-button value="En">English</mat-radio-button>
              <mat-radio-button value="Fr">French</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="continue-button">
        <button mat-flat-button color="primary" (click)="save($event)">continue to your dashboard</button>
      </div>
    </form>
  </div>
</div>