<div class="container alternate-theme">
  <div>
    <div class="section header">
      <h2 class="header-title">
        Welcome Temitope
      </h2>
      <h5 class="header-subtitle">
        Lets hep you setup your environment
      </h5>
    </div>
    <form >
      <div class="section domain-input">
        
  
        <div>
          <p>Please Enter your domain</p>
          <mat-form-field appearance="fill" class="suffixed-input">
            <input matInput >
            <div matSuffix>.edacy.com</div>
          </mat-form-field>
        </div>
  
       
      </div>
      <div style="text-align: center;">
        <button mat-flat-button color="primary">
          Go tot the account
        </button>
      </div>
    </form>
  </div>
</div>