//@import '../custom-theme.scss';

//$primary: map-get($custom-theme, primary);

$primary: var(--primary-color);
$secondary: var(--secondary-color);

.drawer {
  width: 15%;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu-item-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-color: rgb(245, 245, 245);
}

mat-drawer {
  background-color: rgb(245, 245, 245);
}

mat-drawer-content {  
  background-color: rgb(255, 255, 255);
}

