<div>
  <div class="create-program-button">
    
      <button mat-flat-button color="secondary" (click)="goCreateProgram()">Create a Program</button>
      
    
  </div>

  

  <div class="action-cards">
    <div class="action-card action-card-1">
      <div><mat-icon>display_settings</mat-icon></div>
      <div>DEscription</div>
    </div>
    <div class="action-card action-card-2">
      <div><mat-icon>smart_display</mat-icon></div>
      <div>DEscription</div>
    </div>
  </div>
  <div class="empty-program action-card action-card-3">
    <div><mat-icon>create_new_folder</mat-icon></div>
    <div>You have not created any program</div>
  </div>
</div>